# Python cache va bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
.env
.envrc

# Django specific
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# IDE va editorlar
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test va coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Build / distribution
build/
dist/
*.egg-info/
*.egg
*.whl

# Log va miscellaneous
*.log
*.pot
*.mo
